body{
    background-image: url(https://wallpaperaccess.com/full/1536061.jpg);
    background-size: cover;
}

h1{
    padding-top: 50px;
    text-align: center;
    font-family: 'Bricolage Grotesque', sans-serif;
    font-size: 50px;
    color: white;
    letter-spacing: 1px;
}

.card{
    display: flex;
}

.boneco{
    padding-top: 190px;
}

.boneco2{
    padding-top: 230px;
    padding-left: 350px;
}

.boneco3{
    padding-top: 350px;
    padding-left: 480px;
}

.gaivota{
    margin-top: -650px;
    margin-left: 290px;
}

.twitter{
    margin-top: -700px;
    margin-left: 1150px;
}

img:hover{
    transform: scaleX(-1);
}

footer{
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    padding-top: 510px;
    padding-left: 10px;
}